
edge_aistpp/
dataset_backups/
wandb_logs/
renders/
.ipynb_checkpoints/
__pycache__/
*.gif
*.mp4
*.pkl
*.npy
*.zip
*.csv
*.osim
*.mot
*.pt
*.trc
*.webm
cached_features/
custom_music/
data/AMASS
data/AMASS_agreggated
data/AMASS_agreggated_sliced
runs/
.idea/*
model/hip_knee_only_models.py
example_usage/Geometry