
edge_aistpp/
dataset_backups/
wandb_logs/
renders/
.ipynb_checkpoints/
__pycache__/
*.gif
*.mp4
*.pkl
*.npy
*.zip
cached_features/
custom_music/
data/AMASS
data/AMASS_agreggated
data/AMASS_agreggated_sliced
runs/
*.pt

